<!-- NAVIGATION (DESKTOP AND TABLET) -->
<nav class="navbar is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://blitzbasicscript.com">
      <img
        src="../../../assets/gfx/logo.png"
        alt="BlitzBasicScript: Your Game Scripting Engine"
        width="32"
        height="32"
      />
    </a>
    <div class="navbar-burger burger" data-target="navigationMenu">
      <span *ngFor="let i of [1, 2, 3]"></span>
    </div>
  </div>
  <div id="navigationMenu" class="navbar-menu">
    <div class="navbar-start">
      <ng-container *ngFor="let element of navigationElements.left">
        <div class="navbar-item has-dropdown is-hoverable">
          <a
            class="navbar-link"
            [routerLink]="'NAV.' + element.name + '.PATH' | translate"
          >
            <span
              ><i class="fa fa-fw {{ element.icon }}"></i>
              {{ 'NAV.' + element.name + '.TITLE' | translate }}</span
            >
          </a>

          <div class="navbar-dropdown">
            <a
              class="navbar-item"
              *ngFor="let submenu of element.submenus"
              [routerLink]="
                'NAV.' + element.name + '.SUBMENU.' + submenu + '.PATH'
                  | translate
              "
            >
              {{
                'NAV.' + element.name + '.SUBMENU.' + submenu + '.TITLE'
                  | translate
              }}
            </a>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a
              class="navbar-item"
              href="https://github.com/SparkFountain/blitz-basic-script-full-stack/"
              target="_blank"
            >
              <span class="icon">
                <i class="fa fa-fw fa-github"></i>
              </span>
              <span>GitHub</span>
            </a>
          </p>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class="icon">
            <i class="fa fa-fw fa-comments-o"></i>
          </span>
          <span>{{ 'NAV.LANGUAGE.TITLE' | translate }}</span>
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" (click)="changeLanguage('de')">
            {{ 'NAV.LANGUAGE.DE' | translate }}
          </a>
          <a class="navbar-item" (click)="changeLanguage('en')">
            {{ 'NAV.LANGUAGE.EN' | translate }}
          </a>
        </div>
      </div>
      <div class="navbar-item" *ngIf="!authService.userIsLoggedIn()">
        <div class="field is-grouped">
          <p class="control">
            <a class="navbar-item" [routerLink]="'NAV.LOGIN.PATH' | translate">
              <span class="icon">
                <i class="fa fa-fw fa-sign-in"></i>
              </span>
              <span>{{ 'NAV.LOGIN.TITLE' | translate }}</span>
            </a>
          </p>
        </div>
      </div>
      <div
        class="navbar-item has-dropdown is-hoverable"
        *ngIf="authService.userIsLoggedIn()"
      >
        <a class="navbar-link is-arrowless">
          <figure class="image nav-avatar">
            <img
              class="is-rounded"
              src="https://bulma.io/images/placeholders/32x32.png"
            />
          </figure>
        </a>
        <div class="navbar-dropdown nav-avatar-dropdown">
          <a class="navbar-item" [routerLink]="'NAV.ACCOUNT.PATH' | translate">
            {{ 'NAV.ACCOUNT.PROFILE' | translate }}
          </a>
          <a class="navbar-item" [routerLink]="'NAV.MEDALS.PATH' | translate">
            {{ 'NAV.ACCOUNT.MEDALS' | translate }}
          </a>
          <a class="navbar-item">
            {{ 'LOGOUT' | translate }}
          </a>
        </div>
      </div>
      <div class="navbar-item" *ngIf="!authService.userIsLoggedIn()">
        <div class="field is-grouped">
          <p class="control">
            <a
              class="navbar-item"
              [routerLink]="'NAV.REGISTER.PATH' | translate"
            >
              <span class="icon">
                <i class="fa fa-fw fa-user-plus"></i>
              </span>
              <span>{{ 'NAV.REGISTER.TITLE' | translate }}</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- <nav class="nav-default">
  <a class="logo">
    <img alt="BlitzBasicScript Logo" src="../../../assets/gfx/logo.png" width="16" height="16" />
    BlitzBasicScript
  </a>

  <div class="nav-left">
    <a [ngClass]="{'active': router.url === '/'}" routerLink="">
      <i class="fa fa-fw fa-info-circle"></i>
      {{'NAV.ABOUT' | translate}}
    </a>
    <a [ngClass]="{'active': router.url === '/lexer'}" routerLink="lexer">
      <i class="fa fa-fw fa-i-cursor"></i>
      {{'NAV.LEXER' | translate}}
    </a>
    <a [ngClass]="{'active': router.url === '/commands'}" routerLink="commands">
      <i class="fa fa-fw fa-tachometer"></i>
      {{'NAV.COMMANDS' | translate}}
    </a>
    <a [ngClass]="{'active': router.url === '/gaming'}" routerLink="gaming">
      <i class="fa fa-fw fa-gamepad"></i>
      {{'NAV.GAMING' | translate}}
    </a>
  </div>

  <div class="nav-right">
    <a href="https://github.com/SparkFountain/blitz-basic-script-full-stack/" target="_blank">
      <span class="icon"><i class="fa fa-fw fa-github"></i></span>
      <span>&nbsp;&nbsp;&nbsp;GitHub</span>
    </a>

    <div class="dropdown">
      <a class="menu" target="_blank">
        <span class="icon"><i class="fa fa-fw fa-comment-o"></i></span>
        <span>&nbsp;&nbsp;&nbsp;{{'LANGUAGE' | translate}}&nbsp;&nbsp;</span>
        <span class="icon"><i class="fa fa-angle-down"></i></span>
      </a>
      <div class="dropdown-content">
        <a (click)="changeLanguage(Language.ENGLISH)">
          {{'NAV_EN' | translate}}
        </a>
        <a (click)="changeLanguage(Language.GERMAN)">
          {{'NAV_DE' | translate}}
        </a>
      </div>
    </div>
  </div>
</nav> -->

<!-- NAVIGATION (SMARTPHONE) -->
<!-- <nav class="nav-smartphone menu-bar">
  <i class="fa fa-bars" *ngIf="!mobileMenu.open" (click)="toggleMobileMenu()"></i>
  <i class="fa fa-times" *ngIf="mobileMenu.open" (click)="toggleMobileMenu()"></i>
  <p class="brand-text">BlitzBasicScript</p>
  <i class="fa fa-fw fa-search"></i>
</nav> -->

<!-- <div class="nav-smartphone menu-content" [ngClass]="{'visible': mobileMenu.open, 'closing': mobileMenu.closing}">
  <ng-container *ngIf="mobileMenu.context === MobileMenuContext.DEFAULT">
    <div class="mobile-nav-container">
      <div (click)="mobileMenu.context = MobileMenuContext.HOME">
        <a>{{'NAV_HOME' | translate}} <i class="fa fa-fw fa-caret-right"></i></a>
      </div>

      <div (click)="mobileMenu.context = MobileMenuContext.CODING">
        <a>{{'NAV_EDITOR' | translate}} <i class="fa fa-fw fa-caret-right"></i></a>
      </div>

      <div (click)="mobileMenu.context = MobileMenuContext.PROJECTS">
        <a>{{'NAV_PROJECTS' | translate}} <i class="fa fa-fw fa-caret-right"></i></a>
      </div>

      <div (click)="mobileMenu.context = MobileMenuContext.DOCUMENTATION">
        <a>{{'NAV_DOC' | translate}} <i class="fa fa-fw fa-caret-right"></i></a>
      </div>
    </div>
    <div class="mobile-nav-container">
      <div (click)="mobileMenu.context = MobileMenuContext.LANGUAGE">
        <a>{{'NAV_LANGUAGE' | translate}} <i class="fa fa-fw fa-caret-right"></i></a>
      </div>
      <div>
        <a href="https://github.com/SparkFountain/blitz-basic-script-full-stack/" target="_blank"
          (click)="toggleMobileMenu()">GitHub</a>
      </div>
      <div>
        <a routerLink="register" (click)="toggleMobileMenu()">{{'SIGN_IN' | translate}}</a>
      </div>
    </div>
    <div class="mobile-nav-container">
      <div>
        <a routerLink="terms-of-use" (click)="toggleMobileMenu()">{{'NAV_TERMS' | translate}}</a>
      </div>
      <div>
        <a routerLink="disclaimer" (click)="toggleMobileMenu()">{{'FOOTER.DISCLAIMER' | translate}}</a>
      </div>
      <div>
        <a routerLink="imprint" (click)="toggleMobileMenu()">{{'FOOTER.IMPRINT' | translate}}</a>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="mobileMenu.context === MobileMenuContext.HOME">
    <div class="mobile-nav-container">
      <div (click)="mobileMenu.context = MobileMenuContext.DEFAULT">
        <div>
          <a>
            <i class="fa fa-fw fa-caret-left"></i> {{'NAV_HOME' | translate}}
          </a>
        </div>

        <div>
          <a routerLink="home" (click)="toggleMobileMenu()">
            <i class="fa fa-fw fa-home"></i> {{'NAV_MISSION' | translate}}
          </a>
        </div>

        <div>
          <a routerLink="news-blog" (click)="toggleMobileMenu()">
            <i class="fa fa-fw fa-newspaper-o"></i> {{'NAV_NEWS_BLOG' | translate}}
          </a>
        </div>

        <div>
          <a routerLink="features" (click)="toggleMobileMenu()">
            <i class="fa fa-fw fa-cubes"></i> {{'NAV_FEATURES' | translate}}
          </a>
        </div>

        <div>
          <a routerLink="comparison-to-blitz-basic" (click)="toggleMobileMenu()">
            <i class="fa fa-fw fa-balance-scale"></i> {{'NAV_COMPARISON' | translate}}
          </a>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="mobileMenu.context === MobileMenuContext.CODING">
    <div class="mobile-nav-container">
      <div (click)="mobileMenu.context = MobileMenuContext.DEFAULT">
        <div>
          <a>
            <i class="fa fa-fw fa-caret-left"></i> {{'NAV_EDITOR' | translate}}
          </a>
        </div>

        <div>
          <a routerLink="lets-code/empty-project" (click)="toggleMobileMenu()">
            <i class="fa fa-fw fa-file-text"></i> {{'NAV_CODING_EMPTY' | translate}}
          </a>
        </div>

        <div>
          <a routerLink="lets-code/game-templates" (click)="toggleMobileMenu()">
            <i class="fa fa-fw fa-gamepad"></i> {{'NAV_CODING_TEMPLATE' | translate}}
          </a>
        </div>

        <div>
          <a routerLink="lets-code/my-projects" (click)="toggleMobileMenu()">
            <i class="fa fa-fw fa-user-circle-o"></i> {{'NAV_CODING_MY_PROJECTS' | translate}}
          </a>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="mobileMenu.context === MobileMenuContext.PROJECTS">
    <div class="mobile-nav-container">
      <div (click)="mobileMenu.context = MobileMenuContext.DEFAULT">
        <a><i class="fa fa-fw fa-caret-left"></i> {{'NAV_PROJECTS' | translate}}</a>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="mobileMenu.context === MobileMenuContext.DOCUMENTATION">
    <div class="mobile-nav-container">
      <div (click)="mobileMenu.context = MobileMenuContext.DEFAULT">
        <a>
          <i class="fa fa-fw fa-caret-left"></i> {{'NAV_DOC' | translate}}
        </a>
      </div>

      <div>
        <a routerLink="docs/tutorials" (click)="toggleMobileMenu()">
          <i class="fa fa-fw fa-info-circle"></i> {{'NAV_DOC_TUTORIALS' | translate}}
        </a>
      </div>

      <div>
        <a routerLink="docs/keywords" (click)="toggleMobileMenu()">
          <i class="fa fa-fw fa-key"></i> {{'NAV_DOC_KEYWORDS' | translate}}
        </a>
      </div>

      <div>
        <a routerLink="docs/commands" (click)="toggleMobileMenu()">
          <i class="fa fa-fw fa-book"></i> {{'NAV_DOC_COMMANDS' | translate}}
        </a>
      </div>

      <div>
        <a routerLink="docs/constants-and-scancodes" (click)="toggleMobileMenu()">
          <i class="fa fa-fw fa-list-ol"></i> {{'NAV_DOC_CONSTANTS_SCANCODES' | translate}}
        </a>
      </div>

      <div>
        <a routerLink="docs/differences-to-blitz-basic" (click)="toggleMobileMenu()">
          <i class="fa fa-fw fa-exchange"></i> {{'NAV_DOC_DIFFERENCES_BB' | translate}}
        </a>
      </div>

      <div>
        <a routerLink="docs/migration-guide" (click)="toggleMobileMenu()">
          <i class="fa fa-fw fa-code-fork"></i> {{'NAV_DOC_MIGRATION_GUIDE' | translate}}
        </a>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="mobileMenu.context === MobileMenuContext.LANGUAGE">
    <div class="mobile-nav-container">
      <div (click)="mobileMenu.context = MobileMenuContext.DEFAULT">
        <a><i class="fa fa-fw fa-caret-left"></i> {{'NAV_LANGUAGE' | translate}}</a>
      </div>

      <div (click)="changeLanguage(Language.ENGLISH)">
        <a>{{'NAV_EN' | translate}}</a>
      </div>

      <div (click)="changeLanguage(Language.GERMAN)">
        <a>{{'NAV_DE' | translate}}</a>
      </div>
    </div>
  </ng-container>
</div> -->

<!-- PAGE CONTENT -->
<!-- <app-gaming></app-gaming> -->

<!-- NORMAL BBSCRIPT PAGES -->
<div id="bbscript-page-content">
  <router-outlet></router-outlet>
</div>

<!-- FOOTER -->
<footer class="footer">
  <div class="content has-text-centered">
    <a [routerLink]="'FOOTER.CONTACT.PATH' | translate" class="is-link">{{
      'FOOTER.CONTACT.LABEL' | translate
    }}</a>
    <br />
    <a [routerLink]="'FOOTER.TERMS.PATH' | translate" class="is-link">{{
      'FOOTER.TERMS.LABEL' | translate
    }}</a>
    <br />
    <a [routerLink]="'FOOTER.DISCLAIMER.PATH' | translate" class="is-link">{{
      'FOOTER.DISCLAIMER.LABEL' | translate
    }}</a>
    <br />
    <a [routerLink]="'FOOTER.IMPRINT.PATH' | translate" class="is-link">{{
      'FOOTER.IMPRINT.LABEL' | translate
    }}</a>
  </div>
</footer>
