@use '@angular/material' as mat;
@include mat.core();

$theming-material-components-primary: mat.define-palette(mat.$indigo-palette);
$theming-material-components-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$theming-material-components-warn: mat.define-palette(mat.$red-palette);

$primary: mat.define-palette(mat.$blue-palette, 800);
$accent: mat.define-palette(mat.$teal-palette);
$theme: mat.define-light-theme($primary, $accent);

$theming-material-components-theme: mat.define-light-theme(
  $theming-material-components-primary,
  $theming-material-components-accent,
  $theming-material-components-warn
);

@include mat.all-component-themes($theming-material-components-theme);

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, monospace;
}
