@import '~@angular/material/theming';
@include mat-core();

$theming-material-components-primary: mat-palette($mat-indigo);
$theming-material-components-accent: mat-palette($mat-pink, A200, A100, A400);

$theming-material-components-warn: mat-palette($mat-red);

$primary: mat-palette($mat-blue, 800);
$accent: mat-palette($mat-teal);
$theme: mat-light-theme($primary, $accent);

$theming-material-components-theme: mat-light-theme(
  $theming-material-components-primary,
  $theming-material-components-accent,
  $theming-material-components-warn
);

@include angular-material-theme($theming-material-components-theme);

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, monospace;
}
