<div class="columns">
  <div class="column is-4 blog-navigation">
    <section class="section">
      <h1 class="title">{{ 'BLOG.TITLE'  | transloco }}</h1>
      <hr />

      <nav class="pagination">
        {{ 'BLOG.PAGE'  | transloco }}&nbsp;&nbsp;&nbsp;
        <ul class="pagination-list">
          <li *ngFor="let page of pages">
            <a
              class="pagination-link"
              [ngClass]="{ 'is-current': currentPage === page }"
              (click)="getBlogEntries(page)"
              >{{ page }}</a
            >
          </li>
        </ul>
      </nav>

      <div class="column">
        <aside class="menu">
          <ng-container *ngFor="let entry of blogEntries; let i = index">
            <p class="menu-label">
              {{ formatDate(entry.createdAt) }}
            </p>
            <ul class="menu-list">
              <li>
                <a (click)="scrollToOffset(i)">{{ entry.title[language] }}</a>
              </li>
            </ul>
          </ng-container>
        </aside>
      </div>
    </section>
  </div>

  <div class="column is-8 blog-contents">
    <div class="card" *ngFor="let entry of blogEntries" #blogEntriesRendered>
      <div class="card-image">
        <figure class="image is-3by1">
          <img class="blog-image" [src]="entry.imageUrl" alt="Image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image" style="height: 40px; width: 40px">
              <img
                src="https://www.blitzforum.de/upload/file.php?id=13447"
                alt="Image"
              />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ entry.title[language] }}</p>
            <p class="subtitle is-6">{{ formatDate(entry.createdAt) }}</p>
          </div>
        </div>
        <div class="content" [innerHTML]="entry.message[language]"></div>
      </div>
    </div>
  </div>
</div>
