<h1 class="title is-1">{{ 'FOOTER.CONTACT.LABEL'  | transloco }}</h1>

<div class="message is-info" *ngIf="section === 'form'">
  <div
    class="message-body"
    [innerHTML]="'FOOTER.CONTACT.SUBTITLE'  | transloco"
  ></div>
</div>

<!-- CONTACT FORM -->
<div class="card register-card" *ngIf="section === 'form'">
  <div class="card-content">
    <!-- EMAIL -->
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">{{
          'FOOTER.CONTACT.EMAIL.LABEL'  | transloco
        }}</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control is-expanded has-icons-left">
            <input
              [(ngModel)]="email"
              class="input"
              type="text"
              [placeholder]="'FOOTER.CONTACT.EMAIL.PLACEHOLDER'  | transloco"
              maxlength="32"
            />
            <span class="icon is-small is-left">
              <i class="fa fa-fw fa-at"></i>
            </span>
          </div>
          <p class="help is-danger">
            <span *ngIf="this.notices['email-empty']">{{
              'EMAIL_EMPTY'  | transloco
            }}</span>
            <span *ngIf="this.notices['email-invalid']">{{
              'EMAIL_INVALID'  | transloco
            }}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- NAME -->
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">{{
          'FOOTER.CONTACT.NAME.LABEL'  | transloco
        }}</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control is-expanded has-icons-left">
            <input
              [(ngModel)]="name"
              class="input"
              type="text"
              [placeholder]="'FOOTER.CONTACT.NAME.PLACEHOLDER'  | transloco"
              maxlength="32"
            />
            <span class="icon is-small is-left">
              <i class="fa fa-fw fa-user"></i>
            </span>
          </div>
          <p class="help is-danger">
            <span *ngIf="this.notices['name-too-short']">{{
              'NAME_TOO_SHORT'  | transloco
            }}</span>
            <span *ngIf="this.notices['name-too-long']">{{
              'NAME_TOO_LONG'  | transloco
            }}</span>
            <span *ngIf="this.notices['name-must-be-alphanumeric']">{{
              'NAME_MUST_BE_ALPHANUMERIC'  | transloco
            }}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- SUBJECT -->
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">{{
          'FOOTER.CONTACT.SUBJECT.LABEL'  | transloco
        }}</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <span class="select">
              <select [(ngModel)]="subject">
                <option value="bbscript">
                  {{ 'FOOTER.CONTACT.SUBJECT.BBSCRIPT'  | transloco }}
                </option>
                <option value="website">
                  {{ 'FOOTER.CONTACT.SUBJECT.WEBSITE'  | transloco }}
                </option>
                <option value="bug-report">
                  {{ 'FOOTER.CONTACT.SUBJECT.BUG_REPORT'  | transloco }}
                </option>
                <option value="feature-request">
                  {{ 'FOOTER.CONTACT.SUBJECT.FEATURE_REQUEST'  | transloco }}
                </option>
                <option value="criticism">
                  {{ 'FOOTER.CONTACT.SUBJECT.CRITICISM'  | transloco }}
                </option>
                <option value="individual">
                  {{ 'FOOTER.CONTACT.SUBJECT.INDIVIDUAL'  | transloco }}
                </option>
              </select>
            </span>
          </p>
        </div>
      </div>
    </div>

    <!-- MESSAGE -->
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">{{
          'FOOTER.CONTACT.MESSAGE.LABEL'  | transloco
        }}</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <textarea
              [(ngModel)]="message"
              class="textarea"
              placeholder="{{
                'FOOTER.CONTACT.MESSAGE.PLACEHOLDER'  | transloco
              }}"
            ></textarea>
          </p>
          <p class="help is-danger">
            <span *ngIf="this.notices['message-empty']">{{
              'MESSAGE_EMPTY'  | transloco
            }}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- DATA AGREEMENT -->
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <span
          class="icon is-small is-left pointer"
          (click)="dataAgreementAccepted = !dataAgreementAccepted"
        >
          <i *ngIf="!dataAgreementAccepted" class="fa fa-fw fa-square-o"></i>
          <i
            *ngIf="dataAgreementAccepted"
            class="fa fa-fw fa-check-square-o"
          ></i>
        </span>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control is-expanded has-icons-left">
            <p [innerHTML]="'FOOTER.CONTACT.DATA_AGREEMENT'  | transloco"></p>
          </div>
          <p class="help is-danger">
            <span *ngIf="this.notices['data-agreement-must-be-accepted']">{{
              'FOOTER.CONTACT.DATA_AGREEMENT_MUST_BE_ACCEPTED'  | transloco
            }}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- SEND BUTTON -->
    <div class="field is-horizontal">
      <div class="field-label is-normal"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button
              class="button is-primary"
              (click)="send()"
              *ngIf="!sendingRequest"
            >
              {{ 'FOOTER.CONTACT.SEND'  | transloco }}
            </button>
            <button class="button is-primary" disabled *ngIf="sendingRequest">
              <i class="fa fa-spinner fa-spin" aria-hidden="true"></i
              >&nbsp;&nbsp;
              {{ 'REGISTER.SENDING_REQUEST'  | transloco }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SUCCESS -->
<div class="message is-success" *ngIf="section === 'success'">
  <div class="message-header">
    {{ 'FOOTER.CONTACT.SUCCESSFUL.TITLE'  | transloco }}
  </div>
  <div class="message-body">
    <p>{{ 'FOOTER.CONTACT.SUCCESSFUL.MESSAGE'  | transloco }}</p>
    <p>
      <a routerLink="/home">{{ 'PAGE_NOT_FOUND.HOME_PATH'  | transloco }}</a>
    </p>
  </div>
</div>

<!-- ERROR -->
<div class="message is-danger" *ngIf="section === 'error'">
  <div class="message-header">
    {{ 'FOOTER.CONTACT.ERROR.TITLE'  | transloco }}
  </div>
  <div class="message-body">
    <p>{{ 'FOOTER.CONTACT.ERROR.MESSAGE'  | transloco }}</p>
    <p>
      <a routerLink="/home">{{ 'PAGE_NOT_FOUND.HOME_PATH'  | transloco }}</a>
    </p>
  </div>
</div>
