<h1 class="title is-1">{{ 'TUTORIALS.TITLE' | transloco }}</h1>

<aside class="menu">
  <p class="menu-label">
    {{ 'TUTORIALS.BASICS.TITLE' | transloco }}
  </p>
  <ul class="menu-list">
    <li>
      <a>{{ 'TUTORIALS.BASICS.CONTENT.BASICS' | transloco }}</a>
    </li>
  </ul>
  <p class="menu-label">
    {{ 'TUTORIALS.GRAPHICS.TITLE' | transloco }}
  </p>
  <ul class="menu-list">
    <li>
      <a>{{ 'TUTORIALS.GRAPHICS.CONTENT.DRAW_AND_MOVE_IMAGES' | transloco }}</a>
    </li>
  </ul>
  <p class="menu-label">
    {{ 'TUTORIALS.IO.TITLE' | transloco }}
  </p>
  <ul class="menu-list">
    <li>
      <a>{{
        'TUTORIALS.IO.CONTENT.USE_MOUSE_KEYBOARD_AND_TOUCH' | transloco
      }}</a>
    </li>
  </ul>
  <p class="menu-label">
    {{ 'TUTORIALS.SOUND.TITLE' | transloco }}
  </p>
  <ul class="menu-list">
    <li>
      <a>{{ 'TUTORIALS.SOUND.CONTENT.PLAY_SOUNDS_AND_MUSIC' | transloco }}</a>
    </li>
  </ul>
  <p class="menu-label">
    {{ 'TUTORIALS.GUI.TITLE' | transloco }}
  </p>
  <ul class="menu-list">
    <li>
      <a>{{
        'TUTORIALS.GUI.CONTENT.WINDOWS_BUTTONS_AND_GADGETS' | transloco
      }}</a>
    </li>
  </ul>
  <p class="menu-label">
    {{ 'TUTORIALS.FILES.TITLE' | transloco }}
  </p>
  <ul class="menu-list">
    <li>
      <a>{{ 'TUTORIALS.FILES.CONTENT.READ_AND_WRITE_FILES' | transloco }}</a>
    </li>
  </ul>
  <p class="menu-label">
    {{ 'TUTORIALS.PARTICLES.TITLE' | transloco }}
  </p>
  <ul class="menu-list">
    <li>
      <a>{{ 'TUTORIALS.PARTICLES.CONTENT.CREATE_PARTICLES' | transloco }}</a>
    </li>
  </ul>
  <p class="menu-label">
    {{ 'TUTORIALS.3D.TITLE' | transloco }}
  </p>
  <ul class="menu-list">
    <li>
      <a>{{ 'TUTORIALS.3D.CONTENT.CREATE_VIRTUAL_3D_WORLD' | transloco }}</a>
    </li>
    <li>
      <a>{{ 'TUTORIALS.3D.CONTENT.ANIMATE_3D_OBJECTS' | transloco }}</a>
    </li>
    <li>
      <a>{{ 'TUTORIALS.3D.CONTENT.COLLISIONS_ON_3D_OBJECTS' | transloco }}</a>
    </li>
    <li>
      <a>{{ 'TUTORIALS.3D.CONTENT.ACTIVATE_SHADOW_RENDERING' | transloco }}</a>
    </li>
    <li>
      <a>{{ 'TUTORIALS.3D.CONTENT.USE_PHYSICS_ENGINE' | transloco }}</a>
    </li>
  </ul>
</aside>
