<header>
  <nav *ngIf="!enableIdeNavigation">
    <ul class="left-content">
      <li>
        <img class="logo" src="/assets/gfx/logo.png" routerLink="/home" />
      </li>
      <li>
        <button mat-button routerLink="/home">
          <fa-icon [icon]="fa.home"></fa-icon>
        </button>
      </li>
      <li>
        <button mat-button routerLink="game-development">
          <fa-icon [icon]="fa.gamepad"></fa-icon>
        </button>
      </li>
      <li>
        <button mat-button [matMenuTriggerFor]="menu">
          <fa-icon [icon]="fa.graduationCap"></fa-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </li>
      <li>
        <button mat-button [matMenuTriggerFor]="menu">
          <fa-icon [icon]="fa.book"></fa-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </li>
    </ul>

    <ul class="right-content">
      <li>
        <button mat-button [matMenuTriggerFor]="menu">
          <fa-icon [icon]="fa.language"></fa-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </li>
      <li>
        <button mat-button>
          <a
            href="https://github.com/SparkFountain/blitz-basic-script-full-stack/"
            target="_blank"
          >
            <!-- TODO: get github icon -->
            <!-- <fa-icon [icon]="fa.github"></fa-icon> -->
          </a>
        </button>
      </li>
      <li>
        <button mat-button [matMenuTriggerFor]="menu">
          <fa-icon [icon]="fa.user"></fa-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </li>
    </ul>
  </nav>

  <nav *ngIf="enableIdeNavigation">
    <ul class="left-content">
      <li>
        <img class="logo" src="/assets/gfx/logo.png" routerLink="/home" />
      </li>
      <li>
        <button mat-button routerLink="/home">
          <fa-icon [icon]="fa.timesCircle"></fa-icon>
        </button>
      </li>
      <li>
        <button
          mat-button
          *ngIf="(activeIdeMainComponent$ | async) === 'ui'"
          (click)="select3dMode()"
        >
          <fa-icon [icon]="fa.cubes"></fa-icon>
        </button>
        <button
          mat-button
          *ngIf="(activeIdeMainComponent$ | async) === '3d'"
          (click)="selectUiMode()"
        >
          <fa-icon [icon]="fa.objectUngroup"></fa-icon>
        </button>
      </li>
      <li>
        <button mat-button>
          <fa-icon [icon]="fa.eye"></fa-icon>
        </button>
      </li>
    </ul>

    <ul class="center-content">
      <li>
        <button mat-button>
          <fa-icon [icon]="fa.playCircle"></fa-icon>
        </button>
      </li>
      <li>
        <button mat-button>
          <fa-icon [icon]="fa.stopCircle"></fa-icon>
        </button>
      </li>
      <li>Mein erstes Spiel</li>
    </ul>

    <ul class="right-content">
      <li>
        <button mat-button [matMenuTriggerFor]="menu">
          <fa-icon [icon]="fa.language"></fa-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </li>
      <li>
        <button mat-button>
          <a
            href="https://github.com/SparkFountain/blitz-basic-script-full-stack/"
            target="_blank"
          >
            <!-- TODO: get github icon -->
            <!-- <fa-icon [icon]="fa.github"></fa-icon> -->
          </a>
        </button>
      </li>
      <li>
        <button mat-button [matMenuTriggerFor]="menu">
          <fa-icon [icon]="fa.user"></fa-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
      </li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
