<div class="columns" *ngFor="let row of projects">
  <div class="column is-4 is-flex" *ngFor="let project of row">
    <div class="card">
      <div class="card-image">
        <figure class="image is-3by1">
          <img [src]="project.imageUrl" alt="Image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image" style="height: 40px; width: 40px">
              <img src="https://source.unsplash.com/random/96x96" alt="Image" />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{ project.title }}</p>
            <p class="subtitle is-6">{{ project.author }}</p>
          </div>
        </div>
        <div class="content">
          {{ project.description }}
        </div>
      </div>
    </div>
  </div>
</div>
