<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>{{ 'IDE.INSPECTOR.NAME' | transloco }}</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-divider></mat-divider>

  <mat-form-field>
    <mat-label>{{ 'IDE.INSPECTOR.WIDTH' | transloco }}</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'IDE.INSPECTOR.HEIGHT' | transloco }}</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'IDE.INSPECTOR.FRAMES' | transloco }}</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-divider></mat-divider>

  <mat-form-field>
    <mat-label>{{ 'IDE.INSPECTOR.POSITION_X' | transloco }}</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'IDE.INSPECTOR.POSITION_Y' | transloco }}</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-divider></mat-divider>

  <mat-form-field>
    <mat-label>{{ 'IDE.INSPECTOR.ROTATION' | transloco }}</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'IDE.INSPECTOR.HANDLE_X' | transloco }}</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'IDE.INSPECTOR.HANDLE_Y' | transloco }}</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-divider></mat-divider>

  <mat-form-field>
    <mat-label>{{ 'IDE.INSPECTOR.ALPHA_COLOR' | transloco }}</mat-label>
    <input matInput />
  </mat-form-field>
</form>
