<h1 class="title is-1">{{ 'HOME.TITLE'  | transloco }}</h1>
<h2 class="title is-2">{{ 'HOME.SUBTITLE'  | transloco }}</h2>

<article class="message is-info">
  <div class="message-header">
    <span><i class="fa fa-fw fa-gamepad" aria-hidden="true"></i> {{ 'HOME.INFO_1.HEADER'  | transloco }}</span>
  </div>
  <div class="message-body">
    <span [innerHTML]="'HOME.INFO_1.BODY'  | transloco"></span>
    <br />
    <p>
      <b>{{ 'HOME.INFO_2'  | transloco }}</b>
    </p>
    <br />
    <span [innerHTML]="'HOME.INFO_3'  | transloco"></span>
  </div>
</article>
<br />
<br />

<h2 class="title is-2">{{ 'HOME.SIX_REASONS'  | transloco }}</h2>

<div class="columns" *ngFor="let i of [0, 1]">
  <div class="column is-flex" *ngFor="let j of [0, 1, 2]">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-{{ reasonIcons[i * 3 + j] }}" aria-hidden="true"></i>
      </div>
      <div class="card-content">
        <div class="content">
          <h3 class="title is-3">
            {{ 'HOME.REASON_' + (i * 3 + j + 1) + '.HEADER'  | transloco }}
          </h3>
          <br />
          <p [innerHTML]="'HOME.REASON_' + (i * 3 + j + 1) + '.BODY'  | transloco"></p>
        </div>
      </div>
    </div>
  </div>
</div>
