.tabs {
  margin-bottom: 0 !important;
}

.card {
  border-top: none !important;
}

.medal {
  font-size: 24px;
}

.gold {
  color: #c9b037;
}

.silver {
  color: #b4b4b4;
}

.bronze {
  color: #ad8a56;
}
