<ng-container *ngIf="language === 'de'">
  <h1 class="title is-1">Haftungsausschluss</h1>
  <h2 class="title is-2">1. Inhalt des Onlineangebotes</h2>
  <p>
    Der Autor übernimmt keinerlei Gewähr für die Aktualität, Richtigkeit und
    Vollständigkeit der bereitgestellten Informationen auf unserer Website.
    Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder
    ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der
    dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und
    unvollständiger Informationen verursacht wurden, sind grundsätzlich
    ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches
    oder grob fahrlässiges Verschulden vorliegt.
  </p>
  <p>
    Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich
    ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte
    Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung
    zeitweise oder endgültig einzustellen.
  </p>
  <br />
  <h2 class="title is-2">2. Verweise und Links</h2>
  <p>
    Bei direkten oder indirekten Verweisen auf fremde Webseiten (“Hyperlinks”),
    die außerhalb des Verantwortungsbereiches des Autors liegen, würde eine
    Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem der
    Autor von den Inhalten Kenntnis hat und es ihm technisch möglich und
    zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern.
  </p>
  <p>
    Der Autor erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung
    keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Auf
    die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft
    der verlinkten/verknüpften Seiten hat der Autor keinerlei Einfluss. Deshalb
    distanziert er sich hiermit ausdrücklich von allen Inhalten aller verlinkten
    /verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese
    Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten
    Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten
    Gästebüchern, Diskussionsforen, Linkverzeichnissen, Mailinglisten und in
    allen anderen Formen von Datenbanken, auf deren Inhalt externe
    Schreibzugriffe möglich sind. Für illegale, fehlerhafte oder unvollständige
    Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung
    solcherart dargebotener Informationen entstehen, haftet allein der Anbieter
    der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf
    die jeweilige Veröffentlichung lediglich verweist.
  </p>
  <br />
  <h2 class="title is-2">3. Urheber- und Kennzeichenrecht</h2>
  <p>
    Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der
    verwendeten Bilder, Grafiken, Tondokumente, Videosequenzen und Texte zu
    beachten, von ihm selbst erstellte Bilder, Grafiken, Tondokumente,
    Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken,
    Tondokumente, Videosequenzen und Texte zurückzugreifen.
  </p>
  <p>
    Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte
    geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den
    Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten
    der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung
    ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte
    Dritter geschützt sind!
  </p>
  <p>
    Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt
    allein beim Autor der Seiten. Eine Vervielfältigung oder Verwendung solcher
    Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen
    oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors
    nicht gestattet.
  </p>
  <br />
  <h2 class="title is-2">4. Datenschutz</h2>
  <p>
    Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe
    persönlicher oder geschäftlicher Daten (Email-Adressen, Namen, Anschriften,
    Passwörter) besteht, so erfolgt die Preisgabe dieser Daten seitens des
    Nutzers auf ausdrücklich freiwilliger Basis. Die Inanspruchnahme und
    Bezahlung aller angebotenen Dienste ist – soweit technisch möglich und
    zumutbar – auch ohne Angabe solcher Daten bzw. unter Angabe anonymisierter
    Daten oder eines Pseudonyms gestattet. Die Nutzung der im Rahmen des
    Impressums oder vergleichbarer Angaben veröffentlichten Kontaktdaten wie
    Postanschriften, Telefon- und Faxnummern sowie Emailadressen durch Dritte
    zur Übersendung von nicht ausdrücklich angeforderten Informationen ist nicht
    gestattet. Rechtliche Schritte gegen die Versender von sogenannten
    Spam-Mails bei Verstössen gegen dieses Verbot sind ausdrücklich vorbehalten.
  </p>
  <br />
  <h2 class="title is-2">5. Rechtswirksamkeit dieses Haftungsausschlusses</h2>
  <p>
    Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten,
    von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne
    Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder
    nicht vollständig entsprechen sollten, bleiben die übrigen Teile des
    Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.
  </p>
  <br /><br />
  <p class="heading" title="Haftungsausschluss Vorlage">
    Quelle:
    <a
      href="http://www.haftungsausschluss.org/haftungsausschluss/"
      target="_blank"
      >Haftungsausschluss</a
    >
    von
    <a
      title="Haftungsausschluss"
      href="http://www.haftungsausschluss-vorlage.de"
      target="_blank"
      >haftungsausschluss-vorlage.de</a
    >
  </p>
</ng-container>

<ng-container *ngIf="language === 'en'">
  <h1 class="title is-1">Disclaimer</h1>
  <h2 class="title is-2">1. Content of the Online Offer</h2>
  <p>
    The author assumes no liability for the topicality, correctness and
    completeness of the information provided Information on our website.
    Liability claims against the author relating to material or immaterial
    damage caused by the use or non-use of the information provided or by the
    use of incorrect or incomplete information are generally excluded, provided
    that on the part of the author there is no demonstrable willful or grossly
    negligent fault of the author.
  </p>
  <p>
    All offers are non-binding. The author expressly reserves the right to
    change parts of the pages or to change, supplement, delete or publish the
    entire offer without prior notice temporarily or permanently.
  </p>
  <br />
  <h2 class="title is-2">2. References and Links</h2>
  <p>
    In the case of direct or indirect references to external websites
    ("hyperlinks") that are outside of the are the responsibility of the author,
    a liability would only come into effect in that case occur in which the
    author is aware of the content and it would be technically possible and
    reasonable for him to prevent the use in the event of illegal content.
  </p>
  <p>
    The author hereby expressly declares that at the time the link was created,
    there was no illegal content on the linked pages were recognizable. The
    current and future design, content or authorship The author has no influence
    whatsoever on the linked / connected pages. Therefore he hereby expressly
    distances himself of all contents of all linked / connected pages that were
    changed after the link was set. This The statement applies to all links and
    references set within the company's own website as well as to External
    entries in guest books, discussion forums, link directories, mailing lists
    and in all other forms of databases, the contents of which can be externally
    written. For illegal, incorrect or incomplete content and in particular for
    damage resulting from use or non-use Any information presented in this way
    is the sole responsibility of the provider of the page to which reference
    was made, not the person who merely refers to the respective publication via
    links.
  </p>
  <br />
  <h2 class="title is-2">3. Copyright and Trademark Law</h2>
  <p>
    The author endeavors to protect the copyrights of the images, graphics,
    sound documents, To observe video sequences and texts, to use images,
    graphics, audio files, video sequences and texts created by the user or to
    use license-free graphics, audio files, video sequences and texts.
  </p>
  <p>
    All brands and trademarks mentioned on the website and possibly protected by
    third parties are subject without restriction to the provisions of the
    applicable trademark law and the ownership rights of the respective
    registered owner. The conclusion that trademarks are not protected by the
    rights of third parties should not be drawn simply because they are
    mentioned!
  </p>
  <p>
    The copyright for published objects created by the author remains solely
    with the author of the pages. Duplication or use of such graphics, audio
    files, video sequences and texts in other electronic or printed publications
    is not permitted without the express consent of the author.
  </p>
  <br />
  <h2 class="title is-2">4. Privacy</h2>
  <p>
    If there is the possibility of entering personal or business data (email
    addresses, names, addresses, passwords) on the website, the input of this
    data takes place voluntarily. The use and payment of all offered services is
    permitted - as far as technically possible and reasonable - without
    specification of such data or under specification of anonymized data or a
    pseudonym. The use of the contact data published in the imprint or
    comparable information such as postal addresses, telephone and fax numbers
    and email addresses by third parties to send information that has not been
    expressly requested is not permitted. We expressly reserve the right to take
    legal steps against senders of so-called spam mails who violate this
    prohibition.
  </p>
  <br />
  <h2 class="title is-2">5. Legal Validity of this Disclaimer</h2>
  <p>
    This disclaimer is to be regarded as part of the internet publication which
    you were referred from. If parts or individual formulations of this text do
    not, no longer or not completely correspond to the current legal situation,
    the remaining parts of the document remain unaffected in their content and
    validity.
  </p>
  <br /><br />
  <p class="heading" title="Disclaimer Template (German)">
    Source:
    <a
      href="http://www.haftungsausschluss.org/haftungsausschluss/"
      target="_blank"
      >Haftungsausschluss</a
    >
    by
    <a
      title="Haftungsausschluss"
      href="http://www.haftungsausschluss-vorlage.de"
      target="_blank"
      >haftungsausschluss-vorlage.de</a
    >
  </p>
</ng-container>
