:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-bottom: 50px;
}

blitz-basic-script-jumbotron {
  width: calc(100% - 100px);
}
