<h1 class="title is-1">{{ 'FOOTER.TERMS.LABEL' | transloco }}</h1>

<ng-container *ngIf="language === 'de'">
  <h2 class="title is-2">für den Webauftritt BlitzBasicScript</h2>
  <h3 class="title is-3">§ 1 Geltungsbereich</h3>
  <p>
    (1)&nbsp;Die nachfolgenden Bedingungen gelten für die Nutzung des
    Webauftrittes von BlitzBasicScript (<a
      href="https://www.blitzbasicscript.com"
      target="_blank"
      >https://www.blitzbasicscript.com</a
    >) - im folgenden "unsere Website" genannt.&nbsp;Für die Nutzung des
    Webauftrittes ist wichtig, dass du als Nutzer*in die nachfolgenden Regeln
    bzw. Bedingungen akzeptierst. Die Registrierung und Benutzung unseres
    Webauftrittes ist kostenlos.
  </p>
  <p>
    (2)&nbsp;Mit der Registrierung bist du mit den Nutzungsbedingungen unserer
    Website einverstanden. Durch dein Einverständnis garantierst du uns, dass du
    keine Beiträge erstellen wirst, die gegen die Nutzungsbedingung verstoßen.
  </p>
  <p>
    (3)&nbsp;Durch das Benutzen unserer Website kommt kein Vertrag zwischen den
    Nutzer*innen und uns zustande.
  </p>

  <h3 class="title is-3">§ 2 Pflichten als Website-Nutzer*innen</h3>

  <p>
    (1)&nbsp;Eine deiner Pflichten als Nutzer*in ist es, dass du keine Beiträge
    veröffentlichst, die gegen diese Regeln, gegen die guten Sitten oder sonst
    gegen geltendes deutsches Recht verstoßen.
  </p>
  <p>
    <b>Folgende Punkte sind dir nicht genehmigt:</b>
  </p>
  <ol>
    <li>
      Inhalte zu veröffentlichen, die unwahr sind und deren Veröffentlichung
      einen Straftatbestand oder eine Ordnungswidrigkeit erfüllt,
    </li>
    <li>
      Versendung von Spam über die Website an andere Website-Nutzer*innen,
    </li>
    <li>
      Verwendung von gesetzlich durch Urheber- und Markenrecht geschützte
      Inhalte ohne rechtmäßige Berechtigung (z.B. Pressemitteilungen etc.),
    </li>
    <li>Handlungen, die wettbewerbswidrig sind,</li>
    <li>eigene Werbung, folglich Schleichwerbung, zu betreiben und</li>
    <li>
      Inhalte zu veröffentlichen, die beleidigend, rassistisch bzw.
      diskriminierend sind gegenüber anderen Nutzer*innen oder der
      Allgemeinheit, oder pornographische Elemente aufweisen.
    </li>
  </ol>
  <p>
    Deine Pflicht als Website-Nutzer*in ist es, auf
    §&nbsp;2&nbsp;Abs.&nbsp;1&nbsp;Nr.&nbsp;1-6 dieser Nutzungsbedingungen, vor
    der Veröffentlichung deiner Projekte bzw. Beiträge zu achten und zu
    überprüfen, ob du dich an diese Punkte gehalten hast.
  </p>
  <p>
    (2)&nbsp;&nbsp;&nbsp;Solltest du gegen
    §&nbsp;2&nbsp;Abs.&nbsp;1&nbsp;Nr.&nbsp;1-6 dieser Nutzungsbedingung
    verstoßen, behalten wir uns das Recht vor, gegen dich folgende Schritte
    vorzunehmen:
  </p>
  <ol>
    <li>
      Deine eingestellten Projekte bzw. Beiträge zu löschen oder diese
      abzuändern,
    </li>
    <li>
      Dir ein Verbot erteilen, weiterhin auf der Website Projekte bzw. Beiträge
      zu verfassen und
    </li>
    <li>Sperrung des Zugangs als Nutzer*in.</li>
  </ol>
  <p>
    (3)&nbsp;Hast du als Website-Nutzer*in nicht die Regeln beachtet und sind
    hierdurch mögliche Rechtsverstöße entstanden, die durch deine eingestellten
    Inhalte entstanden sind (Pflichtverletzung), verpflichtest du dich als
    Nutzer*in, uns von jeglichen Ansprüchen, auch den Schadenersatzansprüchen,
    freizustellen und diesen die Kosten zu ersetzen.
  </p>
  <p>
    Zudem ist der / die Nutzer*in verpflichtet, uns bei Schadenersatzansprüchen
    hinsichtlich der Abwehr des durch ihn / sie entstandenen Rechtsverstoßes
    (Pflichtverletzung s.o.), zu unterstützen und die Kosten einer angemessenen
    Rechtsverteidigung für uns zu tragen.
  </p>
  <p>
    (4)&nbsp;Durch dein Einverständnis garantierst du uns, dass du keine
    Projekte bzw. Beiträge erstellen wirst, die gegen die Nutzungsbedingung
    verstoßen. Entsprechendes gilt auch für das Setzen von externen Links und
    die Signaturen.
  </p>

  <h3 class="title is-3">§ 3 Übertragung von Nutzungsrechten</h3>

  <p>
    Du als Website-Nutzer*in hast die alleinige Verantwortung des Urheberrechts
    im Sinne des Urhebergesetzes bei Veröffentlichung von Projekten bzw.
    Beiträgen zu beachten. Als Nutzer*in räumst du uns lediglich mit
    Veröffentlichung deines Beitrages auf deren Homepage das Recht ein, das
    Projekt bzw. den Beitrag dauerhaft zum Abruf bereitzustellen. Ferner hat
    unser Team das Recht, deine Projekte und Beiträge zu löschen, zu bearbeiten
    und innerhalb der Website zu verschieben, um diese mit anderen Inhalten zu
    verknüpfen oder zu schließen.
  </p>

  <h3 class="title is-3">§ 4 Haftungsbeschränkung</h3>

  <p>
    (1)&nbsp;Wir übernehmen keinerlei Gewähr für die auf der Website
    veröffentlichten und eingestellten Projekte, Beiträge, externen Links und
    die daraus resultierenden Inhalte, insbesondere nicht für deren Richtigkeit,
    Vollständigkeit und Aktualität. Wir sind auch nicht verpflichtet, permanent
    die übermittelten und gespeicherten Beiträge der Nutzer*innen zu überwachen
    oder nach den Umständen zu erforschen, ob sie auf einen rechtswidrigen
    Inhalt hinweisen. Wir haften grundsätzlich nur im Falle einer vorsätzlichen
    oder grob fahrlässigen Pflichtverletzung.
  </p>
  <p>
    (2)&nbsp;Wir weisen ausdrücklich darauf hin, dass die Projekte und Beiträge
    auf der Website vollkommen unverbindlich sind. Die Nutzung der Projekte bzw.
    Beiträge und deren Verwertung erfolgt auf deine eigene Gefahr.
  </p>
  <p>
    (3)&nbsp;Es wird nicht für einen ständigen unterbrechungsfreien Abruf der
    Website garantiert. Einer Haftung diesbezüglich wird hiermit ausdrücklich
    widersprochen. Auch bei großer Sorgfalt können Ausfallzeiten leider nicht
    ausgeschlossen werden.
  </p>

  <h3 class="title is-3">§ 5 Urheberrecht</h3>
  <p>
    Sämtliche Texte, Bilder und andere auf unserer Website veröffentlichten
    Informationen und Daten unterliegen - sofern nicht anders gekennzeichnet -
    dem Copyright unserer Website. Jede Form von Wiedergabe und/oder
    Modifikation darf nur mit der schriftlichen Genehmigung durch uns erfolgen.
    Andersfalls behalten wir uns das Recht vor, gerichtlich gegen diese
    Rechtsverletzung vorzugehen. Alle Kosten, die durch eine Rechtsverletzung
    seitens eines / einer Benutzer*in verursacht werden, werden diesem / dieser
    in Rechnung gestellt.
  </p>

  <h3 class="title is-3">§ 6 Änderungsvorbehalt</h3>
  <p>
    Wir haben jederzeit das Recht die Nutzungsbedingungen zu ändern. Die
    Änderung wird dann per Newsbeitrag auf der Website veröffentlicht.
  </p>

  <h3 class="title is-3">
    § 7 Kündigung und Laufzeit der Mitgliedschaft bei unserer Website
  </h3>
  <p>
    Die Laufzeit der Mitgliedschaft beginnt mit der Registrierung und mit dem
    Einverständnis unseren Nutzungsbedingungen und besteht auf unbestimmte Zeit.
    Die Mitgliedschaft kann jederzeit ohne Angabe von Gründen fristlos gekündigt
    werden. Es gelten die Regeln der
    <abbr title="Datenschutz-Grundverordnung">DSGVO</abbr> der
    <abbr title="Europäische Union">EU</abbr>.
  </p>

  <h3 class="title is-3">§ 8 Salvatorische Klausel</h3>
  <p>
    Diese Nutzungsbedingungen sind als Teil unserer Website zu betrachten, von
    dem aus auf diese Seite verwiesen wird. Sind einzelne Formulierungen dieser
    Nutzungsbedingungen nicht ganz oder nicht vollständig konform mit der
    geltenden Rechtslage, so ist davon auszugehen, dass die übrigen Regelungen
    der Nutzungsbedingungen bestehen bleiben.
  </p>

  <p>
    <a href="http://www.jurarat.de/muster-nutzungsbedingungen" target="_blank">
      Diese Nutzungsbedingungen wurden freundlicherweise von www.jurarat.de zur
      Verfügung gestellt.</a
    >
  </p>
</ng-container>

<ng-container *ngIf="language === 'en'">
  <h2 class="title is-2">for the BlitzBasicScript Web App</h2>
  <h3 class="title is-3">§ 1 Scope</h3>
  <p>
    (1)&nbsp;The following conditions apply to the use of the BlitzBasicScript
    Web App (<a href="https://www.blitzbasicscript.com" target="_blank"
      >https://www.blitzbasicscript.com</a
    >) - hereinafter referred to as "our website".&nbsp;For the use of the
    website it is important that you as a user accept the following rules and
    conditions. The registration and use of our website is free.
  </p>
  <p>
    (2)&nbsp;By registering you agree to the Terms of Use of our website. With
    your agreement you guarantee us that you will not create any contributions
    that violate the Terms of Use.
  </p>
  <p>
    (3)&nbsp;Using our website does not create a contract between users and us.
  </p>

  <h3 class="title is-3">§ 2 Website User Responsibilities</h3>

  <p>
    (1)&nbsp;One of your obligations as a user is that you do not publish any
    contributions that violate these rules, offend against good morals or
    otherwise against applicable German law.
  </p>
  <p>
    <b>The following aspects are not allowed:</b>
  </p>
  <ol>
    <li>
      posting content that is untrue and posting of which is a criminal offense
      or a Administrative offense fulfilled,
    </li>
    <li>sending spam via the website to other users,</li>
    <li>
      use of content legally protected by copyright and trademark law without
      legitimate authorization (e.g. press releases etc.),
    </li>
    <li>acts that are anti-competitive,</li>
    <li>
      operate your own advertising, consequently surreptitious advertising, and
    </li>
    <li>
      to publish content that is offensive, racist or discriminatory towards
      other users or the general public, or contains pornographic elements.
    </li>
  </ol>
  <p>
    It is your duty as a website user to refer to
    Section&nbsp;2&nbsp;Paragraph&nbsp;1&nbsp;No.&nbsp;1-6 of this Terms of Use,
    before publishing your projects or posts and to check whether you have
    followed these aspects.
  </p>
  <p>
    (2)&nbsp;&nbsp;&nbsp;Should you violate
    Section&nbsp;2&nbsp;Paragraph&nbsp;1&nbsp;No.&nbsp;1-6 of these Terms of
    Use, we reserve the right to take the following steps against you:
  </p>
  <ol>
    <li>delete or change your projects or contributions,</li>
    <li>
      banning you from continuing to write projects or contributions on the
      website and
    </li>
    <li>blocking of access as a user.</li>
  </ol>
  <p>
    (3)&nbsp;As a website user, have you not observed the rules and this is a
    possible legal violation originated from the content you posted in our forum
    (breach of duty), as a user, you undertake to exempt us from any claims,
    including claims for damages and to reimburse them for the costs.
  </p>
  <p>
    In addition, the user(s) is / are obliged to notify us of any claims for
    damages with regard to the defense against the the legal violation (breach
    of duty, see above), to support them and the costs of a reasonable legal
    defense for us.
  </p>
  <p>
    (4)&nbsp;With your consent you guarantee that you will not create any
    projects or contributions that violate the Terms of Use. The same applies to
    the setting of external links and signatures.
  </p>

  <h3 class="title is-3">§ 3 Transfer of Usage Rights</h3>

  <p>
    As a website user, you have sole responsibility for copyright within the
    meaning of the copyright law Publication of projects or contributions must
    be observed. As a user, you only give us space Publication of your
    contribution on their homepage gives you the right to permanently access the
    project or contribution provide. Furthermore, our team has the right to
    delete, edit and delete your projects and contributions within the website
    in order to link it to other content or to close it.
  </p>

  <h3 class="title is-3">§ 4 Limitation of Liability</h3>

  <p>
    (1)&nbsp;We do not assume any liability for the projects published and set
    on the website, Contributions, external links and the resulting content,
    especially not for their correctness, Completeness and timeliness. We are
    also not obliged to permanently keep the transmitted and stored To monitor
    user contributions or to investigate the circumstances, whether they
    indicate an illegal Indicate content. In principle, we are only liable in
    the event of willful or grossly negligent breach of duty.
  </p>
  <p>
    (2)&nbsp;We expressly point out that the projects and contributions on the
    website are completely non-binding. The use of the projects or contributions
    and their exploitation is at your own risk.
  </p>
  <p>
    (3)&nbsp;Constant uninterrupted access to the website is not guaranteed.
    Liability in this regard is hereby expressly rejected. Unfortunately, even
    with great care, downtimes cannot be ruled out.
  </p>

  <h3 class="title is-3">§ 5 Copyright</h3>
  <p>
    All texts, images and other information and data published on our website
    are subject to the copyright of our website, unless otherwise indicated. Any
    form of reproduction and / or modification may only take place with our
    written approval. Otherwise we reserve the right to take legal action
    against this infringement. All costs caused by an infringement on the part
    of a user will be billed to him / her.
  </p>

  <h3 class="title is-3">§ 6 Subject to Change</h3>
  <p>
    We have the right to change the Terms of Use at any time. The change will
    then be published on the website as a news item.
  </p>

  <h3 class="title is-3">
    § 7 Termination and Duration of Membership on our Website
  </h3>
  <p>
    The term of membership begins with the registration and with the acceptance
    of our Terms of Use and exists for an indefinite period. Membership can be
    terminated without notice at any time without giving a reason. The rules of
    <abbr title="General Data Protection Regulation">GDPR</abbr> of the
    <abbr title="European Union">EU</abbr>.
  </p>

  <h3 class="title is-3">§ 8 Severability Clause</h3>
  <p>
    These Terms of Use are to be regarded as part of our website from which
    reference is made to this page. If individual formulations of these Terms of
    Use are not fully or not fully compliant with the applicable legal
    situation, it is to be assumed that the other provisions of the Terms of Use
    will remain in place.
  </p>

  <p>
    <a href="http://www.jurarat.de/muster-nutzungsbedingungen" target="_blank">
      These terms of use were kindly made available by www.jurarat.de.</a
    >
  </p>
</ng-container>
