<div
  class="scene"
  (dragover)="handleDragOver($event)"
  (drop)="handleDrop($event)"
>
  <h2 class="title">{{ 'IDE.SCENE.TITLE' | transloco }}</h2>

  <blitz-basic-script-scene-tree></blitz-basic-script-scene-tree>
</div>

<div
  class="main-container"
  #mainContainer
  [ngSwitch]="activeMainComponent$ | async"
>
  <div class="ui" *ngSwitchCase="'ui'">UI</div>
  <div class="3d" *ngSwitchCase="'3d'">
    <canvas
      [width]="getCanvasWidth()"
      [height]="getCanvasHeight()"
      #canvas3d
    ></canvas>
  </div>
  <blitz-basic-script-editor
    *ngSwitchCase="'editor'"
  ></blitz-basic-script-editor>
</div>

<div class="inspector">
  <h2 class="title">{{ 'IDE.INSPECTOR.TITLE' | transloco }}</h2>

  <blitz-basic-script-image-inspector></blitz-basic-script-image-inspector>
</div>

<div class="assets">
  <div class="breadcrumbs">
    <ng-container *ngFor="let breadcrumb of breadcrumbs; let i = index">
      <span [ngClass]="{ linked: breadcrumb.url !== undefined }">
        {{ breadcrumb.label }}
      </span>
      <span *ngIf="i < breadcrumbs.length - 1">
        <fa-icon [icon]="fa.angleRight"></fa-icon>
      </span>
    </ng-container>
  </div>

  <div class="elements">
    <ng-container *ngFor="let asset of assets">
      <blitz-basic-script-asset
        draggable="true"
        [image]="asset.image"
        [icon]="asset.icon"
        [ref]="asset.ref"
      ></blitz-basic-script-asset>
    </ng-container>
  </div>
</div>
