/* FONTS */
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Bold';
  src: url('/assets/fonts/Lato/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Anonymous Pro';
  src: url('/assets/fonts/Anonymous_Pro/AnonymousPro-Regular.ttf');
}

@font-face {
  font-family: 'Anonymous Pro Italic';
  src: url('/assets/fonts/Anonymous_Pro/AnonymousPro-Italic.ttf');
}

@font-face {
  font-family: 'Anonymous Pro Bold';
  src: url('/assets/fonts/Anonymous_Pro/AnonymousPro-Bold.ttf');
}

@font-face {
  font-family: 'Anonymous Pro Bold Italic';
  src: url('/assets/fonts/Anonymous_Pro/AnonymousPro-BoldItalic.ttf');
}

@font-face {
  font-family: 'Cousine';
  src: url('/assets/fonts/Cousine/Cousine-Regular.ttf');
}

@font-face {
  font-family: 'Cousine Italic';
  src: url('/assets/fonts/Cousine/Cousine-Italic.ttf');
}

@font-face {
  font-family: 'Cousine Bold';
  src: url('/assets/fonts/Cousine/Cousine-Bold.ttf');
}

@font-face {
  font-family: 'Cousine Bold Italic';
  src: url('/assets/fonts/Cousine/Cousine-BoldItalic.ttf');
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf');
}

@font-face {
  font-family: 'IBM Plex Mono Light';
  src: url('/assets/fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf');
}

@font-face {
  font-family: 'IBM Plex Mono Extra Light';
  src: url('/assets/fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLight.ttf');
}

@font-face {
  font-family: 'IBM Plex Mono Italic';
  src: url('/assets/fonts/IBM_Plex_Mono/IBMPlexMono-Italic.ttf');
}

@font-face {
  font-family: 'IBM Plex Mono Bold';
  src: url('/assets/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf');
}

@font-face {
  font-family: 'IBM Plex Mono Bold Italic';
  src: url('/assets/fonts/IBM_Plex_Mono/IBMPlexMono-BoldItalic.ttf');
}

@font-face {
  font-family: 'IBM Plex Mono Medium';
  src: url('/assets/fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf');
}

@font-face {
  font-family: 'IBM Plex Mono Semi Bold';
  src: url('/assets/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf');
}

@font-face {
  font-family: 'IBM Plex Mono Thin';
  src: url('/assets/fonts/IBM_Plex_Mono/IBMPlexMono-Thin.ttf');
}

/* COLORS */
$dodger-blue: #40b9f5;
$medium-purple: #cd99ee;
$dark-slate-gray: #24465d;
$medium-purple2: #986fd9;
$light-steel-blue: #91b7d1;

$another-blue: #1d3546;

$cornflower-blue: #43bbf5;
$khaki: #f3e45f;
$midnight-blue: #204159;
$light-steel-blue2: #97c1d0;

$dark-blue: #0f1b24;

$neutral: #dddddd;
$black: darken($neutral, 80%);
$dark: darken($neutral, 50%);
$light: lighten($neutral, 20%);
$white: lighten($neutral, 26%);

/** BASIC COLOR SET **/
$primary: $cornflower-blue;
$success: #14af34;
$warning: darken($khaki, 20%);
$danger: #f53c27;
$link: $khaki;
$link-dark: $medium-purple2;

/* BOX SHADOW */
$box-shadow-image: 0px 6px 8px 0px rgba(0, 0, 0, 0.8);
$box-shadow-dark: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
$box-shadow-light: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);

/* MARGINS AND PADDINGS */
$headline-padding: 1vw;

/* WIDTH AND HEIGHT */
$mobile-menu-bar-height: 40px;
