<div class="toolbar">
  <div class="toolbar-right">
    <fa-icon [icon]="fa.cogs" (click)="openEditorSettings()"></fa-icon>
    <fa-icon [icon]="fa.save" (click)="saveScript()"></fa-icon>
  </div>

  <div class="toolbar-center">
    <fa-icon [icon]="fa.undo" (click)="undo()"></fa-icon>
    <fa-icon [icon]="fa.redo" (click)="redo()"></fa-icon>
  </div>

  <div class="toolbar-left">
    <fa-icon [icon]="fa.medKit" (click)="activateCodeAssistant()"></fa-icon>
    <fa-icon [icon]="fa.magic" (click)="formatCode()"></fa-icon>
  </div>
</div>

<div class="editor" #editor></div>
