<h1 class="title is-1">{{ 'FORGOT_PASSWORD.TITLE' | translate }}</h1>

<div class="card">
  <div class="card-content">
    <p [innerHTML]="'FORGOT_PASSWORD.MESSAGE' | translate"></p>
    <br />
    <br />

    <!-- INPUT FIELD FOR USERNAME OR EMAIL -->
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">{{
          'USER_NAME_OR_EMAIL.LABEL' | translate
        }}</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control is-expanded has-icons-left">
            <input
              class="input"
              type="text"
              [placeholder]="'USER_NAME_OR_EMAIL.PLACEHOLDER' | translate"
              maxlength="32"
            />
            <span class="icon is-small is-left">
              <i class="fa fa-fw fa-user"></i>
            </span>
          </div>
          <p class="help is-danger">
            <span>{{ 'USERNAME_TOO_SHORT' | translate }}</span>
            <span *ngIf="false">{{ 'USERNAME_TOO_LONG' | translate }}</span>
            <span *ngIf="false">{{ 'INVALID_INPUT' | translate }}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- RESET PASSWORT BUTTON -->
    <div class="field is-horizontal">
      <div class="field-label is-normal"></div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button class="button is-primary">
              {{ 'FORGOT_PASSWORD.RESET_PASSWORD' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
